header {
  display: flex;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
}

li {
  display: inline-block;
  margin-left: 10rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.header__categorias {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}

.header__categorias::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.header__categorias:hover::before {
  opacity: 1;
  width: 100%;
}

.header__logo {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  padding-left: 10px;
  padding-top: 15px;
}
